body {
    background-color: #80e7ab;
}

.poster {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: #404880;
    margin-top: 100px;
}

.cat-yawning {
    width: 100%;
    border: 10px solid white;
}



